body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Papyrus", "Times New Roman", sans-serif;
  line-height: 1.75;
  padding: 30px 20px;
  background-color: #ACDBFF;
  text-align: center;
}

a {
color: #074AA3;
text-decoration: none;

}

h1 {
  padding: 20px 0px 10px 0px;
}
