body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Papyrus", "Arial", sans-serif;
  line-height: 1.75;
  padding: 30px 20px;
  text-align: center;
}

a {
color: #4A71FF;
text-decoration: none;
background-color: #2FD4FF;
}

h1 {
  padding: 20px 0px 10px 0px;
}
